
body{
    background-color: brown;
    text-align: center;
    display: flex ;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.clock{
    width: 350px;
    height: 350px;
    border-radius: 200px;
    position: relative ;
    background: radial-gradient( rgba(0, 240, 248, 0.904), rgb(255, 255, 255) );   
}
.clock .number{
    font-size: 25px;
    --rotation:0;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(var(--rotation));
    text-align: center;
}
.clock .num1{ --rotation: 30deg ;}
.clock .num2{ --rotation: 60deg ;}
.clock .num3{ --rotation: 90deg ;}
.clock .num4{ --rotation: 120deg ;}
.clock .num5{ --rotation: 150deg ;}
.clock .num6{ --rotation: 180deg ;}
.clock .num7{ --rotation: 210deg ;}
.clock .num8{ --rotation: 240deg ;}
.clock .num9{ --rotation: 270deg ;}
.clock .num10{ --rotation: 300deg ;}
.clock .num11{ --rotation: 330deg ;}

.clock .hand{
    --rotate:0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border-radius: 10px 10px 0px 0px;
    transform-origin: bottom;
    transform: translate(-50%) rotate(calc(var(--rotate)*1deg));
}
.clock::after{
    content: "";
    position: absolute;
    z-index: 11;
    width: 15px;
    height: 15px;
    top:50%;
    border-radius: 8px;
    transform: translate(-50%,-50%);
    background-color: rgb(1, 0, 7);
}
.clock .clock-hour{
    width: 3%;
    height: 30%;
    background-color: black;

}
.clock .clock-min{
    width: 2%;
    height: 35%;
    background-color: rgb(5, 5, 5);
}
.clock .clock-sec{
    width: 1%;
    height: 40%;
    background-color: rgb(255, 0, 0);
    
}